.nav{
    background-color: rgba(16, 16, 16, 0.75);
    color: whitesmoke;
}

.nav ul {
    display: flex;
    flex-direction: row;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}

.nav li{
    padding-left: 10px;
    padding-right: 50px;
}

.Link {
    text-decoration: none;
    color: aquamarine;
    transition: color 0.5s ease-in-out;
}

.Link:hover {
    color: blueviolet;
}